$borderParent: 3px solid red;
$borderChild: 2px solid blue;

body {
    font-family: 'Inter' sans-serif;
}

header {
    background-color: #F5F8FB;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #112950;
    height: 60px;
    color: #ffffff;

    a {
        position: relative;
        margin-left: 3px;
        color: #ffffff;
        text-decoration: none;

        &::after {
            content: url('..//img/arrow.svg');
            margin-left: 7px;
        }
    }
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 32px;

    .m__links {
        display: none;
    }

    .m-menu {
        display: flex;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 2000;
        background: #112950;
        height: 50vh;
        width: 250px;
        transition: 0.2s;
        transform: translateX(100%);
    }

    .active {
        transform: translateX(0%);
    }

    .links {
        display: flex;
        justify-content: space-between;
        width: 25%;

        a {
            text-decoration: none;
            color: #324B72;
        }

    }
}

.tool__desc {
    position: relative;
    margin: 0 auto;
    display: flex;
    margin-top: 105px;
    width: 68%;
    background-color: #F5F8FB;

    .desc {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 35px;
            line-height: 46px;
            color: #112950;
            margin-bottom: 32px;

        }

        .desc__title {
            margin-bottom: 25px;
            width: 423px;
            height: 90px;
            font-size: 18px;
            line-height: 30px;
            color: #324B72;
        }

        .see__btn {
            background: #2E85FF;
            border: none;
            border-radius: 30px;
            width: 183px;
            height: 50px;
            color: #ffffff;
        }
    }

    .phone__shape {
        display: flex;
        margin-left: 80px;

        .phone {
            box-sizing: border-box;
            box-shadow: 0px 9px 50px rgba(17, 41, 80, 0.08);
            border-radius: 32px;
        }

        .quiz {
            margin-left: 32px;
        }
    }

    .cookie__acception {
        position: absolute;
        width: 400px;
        height: 100px;
        right: -175px;
        top: 352px;
        background: #112950;
        box-shadow: 0px 10px 20px rgba(17, 41, 80, 0.48);
        border-radius: 5px;
        overflow: hidden;

        p {
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
            padding: 15px 40px;

            a {
                color: #FFFFFF;
                text-decoration: none;
            }
        }

        &::after {
            content: '';
            position: absolute;
            right: -320px;
            top: -165px;
            width: 400px;
            height: 100px;
            background-color: #ffffff;
            opacity: 0.1;
            border-radius: 100px;
            transform: rotate(-45deg);
        }
    }
}

.help__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 68%;
    height: 600px;
    margin: 0 auto;
    background-color: #F5F8FB;

    .title__container {
        margin-top: 30px;
        color: #112950;
        font-size: 37px;
        line-height: 44px;
    }

    .feature__container {
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;;

        .feature {
            display: flex;
            flex-direction: column;
            width: 289px;
          
            img {
                width: 76px;
                height: 76px;
                margin-bottom: 26px;
            }

            h4 {
                font-size: 22px;
                line-height: 28px;
                margin-bottom: 26px;
                color: #324B72;
            }

            p {
                font-size: 14px;
                line-height: 30px;
                color: #324B72;
            }
        }
    }
}

.use__manual {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 68%;
    height: 1450px;
    margin-top: 100px;

    h3 {
        font-size: 36px;
        line-height: 44px;
        color: #112950
    }

    p {
        width: 537px;
        font-size: 16px;
        line-height: 30px;
        color: #324B72;
        margin-top: 30px;
        margin-bottom: 56px;
    }

    .manual__desc {
        display: flex;
        justify-content: space-between;

        .embed__container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background-color: #112950;
            border-radius: 16px;
            color: #ffffff;
            height: 703px;
            width: 49%;

            .img__container {
                display: flex;
                justify-content: center;
                box-sizing: border-box;
                border-bottom: 1px solid #324B72;
                width: 100%;

                img {
                    margin-top: 53px;
                    width: 60%;
                }
            }

            h4 {
                font-size: 29px;
                line-height: 35px
            }

            p {
                color: #ffffff;
                width: 350px;
                font-size: 15px;
                line-height: 30px;
            }

            .btns__container {
                .embed__btn {
                    background: #2E85FF;
                    border: none;
                    border-radius: 30px;
                    width: 183px;
                    height: 50px;
                    color: #ffffff;
                }

                a {
                    color: #ffffff;
                    text-decoration: none;
                    margin-left: 18px;
                    font-size: 14px;
                    
                    &::after {
                        content: url('..//img/arrow.svg');
                        margin-left: 7px;
                    }
                }
            }
        }

        .api__container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border: 1px solid #E0E6ED;
            background-color: #F5F8FB;
            border-radius: 16px;
            color: #112950;
            height: 702px;
            width: 49%;

            .img__container {
                width: 100%;
                box-sizing: border-box;
                border-bottom: 1px solid #E0E6ED;
                height: 246px;
                margin-top: -27px;

                img {
                    margin-top: 73px;
                    margin-left: 68px;
                    width: 70%;
                    height: 70%;
                }
            }
            .text__container {
                height: 344px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h4 {
                    font-size: 28px;
                    line-height: 35px;
                    margin-bottom: 20px;
                    margin-top: -5px;
                }

                p {
                    width: 350px;
                    font-size: 15px;
                    line-height: 30px;
                    margin-top: 36px;
                }

                .api__btn {
                    background: #ffffff;
                    border: 1px solid #2E85FF;
                    box-sizing: border-box;
                    border-radius: 30px;
                    width: 183px;
                    height: 70px;
                    color: #2174EA;
                    margin-top: 10px;
                }
            }
        }
    }


    .try__share {
        display: flex;
        justify-content: space-evenly;
        border: 1px solid #E0E6ED;
        box-sizing: border-box;
        border-radius: 16px;
        margin-bottom: 45px;

        .text__container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 374px;

            h4 {
                font-size: 28px;
                line-height: 35px;
                color: #112950;
            }

            p {
                width: 498px;
                font-size: 18px;
                line-height: 30px;
                color: #324B72;
            }

            .go__to {
                background: #ffffff;
                border: 1px solid #2E85FF;
                box-sizing: border-box;
                border-radius: 30px;
                width: 243px;
                height: 62px;
                color: #2174EA;
            }
        }

        .img__container {
            img {
                margin-top: 83px;
                
            }
        }
    }


}

.main__trust__container {
    background-color: #F5F8FB;

    .trust__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 904px;
        margin: 0 auto;
        width: 68%;

        h3 {
            font-size: 37px;
            line-height: 44px;
            color: #112950;
        }

        .trusts {
            display: flex;
            justify-content: space-between;

            .reliable__sources {
                display: flex;

                .img__container {
                    margin-right: 32px;
                }

                .text__container {
                    h4 {
                        font-size: 23px;
                        line-height: 28px;
                        color: #112950;
                        margin-bottom: 26px;
                    }

                    p {
                        width: 338px;
                        font-size: 17px;
                        line-height: 27px;
                        color: #324B72;

                    }
                }
            }

            .verified {
                display: flex;

                .img__container {
                    margin-right: 32px;
                }

                .text__container {
                    h4 {
                        font-size: 23px;
                        line-height: 28px;
                        color: #112950;
                        margin-bottom: 26px;
                    }

                    p {
                        width: 318px;
                        font-size: 17px;
                        line-height: 27px;
                        color: #324B72;
                    }
                }
            }
        }

        .sponsors__container {
            display: flex;
            flex-direction: column;

            h5 {
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                color: #7B8BA5;
                margin-bottom: 57px;
            }

            .sponsors {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .first {
                    margin-bottom: 40px;

                    img {
                        width: 13.05%;
                        margin-right: 106px;
                    }
                }

                .second {
                    img {
                        width: 13.05%;
                        margin-right: 106px;
                    }
                }
            }
        }
    }
}

.multiplanguages__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 784px;
    width: 68%;
    margin: 0 auto;
    margin-top: 113px;

    h3 {
        font-size: 37px;
        line-height: 44px;
        color: #112950;
    }

    p {
        font-size: 18px;
        line-height: 30px;
        color: #324B72;
        width: 651px;
    }

    .languages__container{
        display: flex;
        justify-content: space-between;

        .list {

            .language {
                display: block;
                border: 1px solid #E0E6ED;
                box-sizing: border-box;
                border-radius: 16px;
                background-color: #ffffff;
                margin-bottom: 8px;
                font-size: 15px;
                line-height: 24px;
                padding: 4px 16px;
                padding-left: 36px;
                color: #324B72;
            }
        }
    }

    .contribute__container {
        display: flex;
        border: 1px solid #E0E6ED;
        box-sizing: border-box;
        border-radius: 16px;

        .contribute {
            background: #112950;
            border: none;
            border-radius: 16px;
            font-size: 14px;
            line-height: 21px;
            margin: 41px 16px;
            margin-left: 83px;
            padding: 5px 16px;
            color: #ffffff;
        }

        p {
            margin: 41px 0;

            a {
                color: #2174EA;
                text-decoration: none;
            }
        }
    }
}

.thoughts__main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F8FB;
    height: 491px;

    .thoughts__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 250px;

        h3 {
            font-size: 37px;
            line-height: 44px;
            color: #112950;
        }

        p {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 18px;
            line-height: 30px;
            color: #324B72;
            width: 486px;
        }

        .contact {
            width: 148px;
            height: 62px;
            background-color: #ffffff;
            border: 1px solid #2E85FF;
            box-sizing: border-box;
            border-radius: 30px;
            font-size: 15px;
            line-height: 24px;
            color: #2174EA;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    background: #F5F8FB;
    height: 404px;


    .contact__links {
        border-bottom: 1px solid #E0E6ED;
        display: flex;
        justify-content: space-between;
        width: 68%;
        margin: 0 auto;

        .stuff__main__container {
            display: flex;

            .stuffs__container {
                margin-right: 84px;

                h6 {
                    font-size: 14px;
                    line-height: 21px;
                    text-transform: uppercase;
                    color: #7B8BA5;
                    margin-bottom: 28px;
                }

                .stuffs {
                    display: flex;
                    flex-direction: column;
                    
                    a {
                        font-size: 15px;
                        line-height: 24px;
                        color: #324B72;
                        margin-bottom: 16px;
                        text-decoration: none;
                    }

                    &:last-child {
                        margin-bottom: 75px;
                    }
                }
            }
        }
    }

    .copyrights {
        display: flex;
        align-items: center;
        width: 68%;
        height: 105px;
        margin: 0 auto;

        p {
            font-size: 15px;
            line-height: 24px;
            color: #7B8BA5;
        }
    }
}
